
.warande {
    top: 61px;
    left: 744px;
}

.weppes {
    top: 71px;
    left: 816px;
}

.avelgem {
    top: 50px;
    left: 923px;
}

.avelin {
    top: 110px;
    left: 848px;
}

.attaques {
    top: 83px;
    left: 708px;
}

.mandarins {
    top: 91px;
    left: 660px;
}

.fruges {
    top: 141px;
    left: 671px;
}

.gavrelle {
    top: 165px;
    left: 820px;
}

.mastaing {
    top: 161px;
    left: 881px;
}

.achene {
    top: 145px;
    left: 996px;
}

.chevalet {
    top: 189px;
    left: 770px;
}

.argoeuves {
    top: 215px;
    left: 715px;
}

.capelle {
    top: 221px;
    left: 936px;
}

.mazures {
    top: 214px;
    left: 1011px;
}

.lonny {
    top: 246px;
    left: 976px;
}

.latena {
    top: 277px;
    left: 803px;
}

.seuil {
    top: 321px;
    left: 965px;
}

.vesle {
    top: 376px;
    left: 959px;
}

.moulaine {
    top: 273px;
    left: 1109px;
}

.vigy {
    top: 345px;
    left: 1174px;
}

.ensdorf {
    top: 292px;
    left: 1281px;
}

.st_avold {
    top: 357px;
    left: 1234px;
}

.marlenheim {
    top: 410px;
    left: 1270px;
}

.bezaumont {
    top: 413px;
    left: 1150px;
}

.revigny {
    top: 420px;
    left: 1054px;
}

.sheer {
    top: 458px;
    left: 1252px;
}

.boctois {
    top: 465px;
    left: 869px;
}

.mery {
    top: 496px;
    left: 907px;
}

.houdreville {
    top: 490px;
    left: 1119px;
}

.vincey {
    top: 512px;
    left: 1152px;
}

.logelbach {
    top: 510px;
    left: 1204px;
}

.muhlback {
    top: 536px;
    left: 1257px;
}

.eichstetten {
    top: 536px;
    left: 1357px;
}

.creney {
    top: 534px;
    left: 1003px;
}

.chesnoy {
    top: 518px;
    left: 826px;
}

.villechetive {
    top: 571px;
    left: 855px;
}

.serein {
    top: 608px;
    left: 912px;
}

.vielmoulin {
    top: 688px;
    left: 993px;
}

.grosne {
    top: 795px;
    left: 976px;
}

.sierentz {
    top: 624px;
    left: 1259px;
}

.mambelin {
    top: 687px;
    left: 1199px;
}

.asphard {
    top: 659px;
    left: 1315px;
}

.laufenbourg {
    top: 687px;
    left: 1299px;
}

.bassecourt {
    top: 706px;
    left: 1259px;
}

.frasne {
    top: 748px;
    left: 1161px;
}

.bois_tollot {
    top: 802px;
    left: 1146px;
}

.genissiat {
    top: 878px;
    left: 1108px;
}

.henri_paul {
    top: 803px;
    left: 1003px;
}

.st_vulbas {
    top: 922px;
    left: 1040px;
}

.penly {
    top: 225px;
    left: 638px;
}

.limeux {
    top: 228px;
    left: 677px;
}

.barnabos {
    top: 278px;
    left: 590px;
}

.remise {
    top: 289px;
    left: 680px;
}

.havre {
    top: 316px;
    left: 535px;
}

.vaupaliere {
    top: 316px;
    left: 602px;
}

.terrier {
    top: 324px;
    left: 729px;
}

.herse {
    top: 324px;
    left: 826px;
}

.pgas {
    top: 375px;
    left: 755px;
}

.penchard {
    top: 374px;
    left: 839px;
}

.chambry {
    top: 385px;
    left: 899px;
}

.sausset {
    top: 400px;
    left: 779px;
}

.villevaude {
    top: 417px;
    left: 811px;
}

.morbras {
    top: 459px;
    left: 826px;
}

.cirolliers {
    top: 498px;
    left: 765px;
}

.rougemontier {
    top: 353px;
    left: 567px;
}

.cergy {
    top: 381px;
    left: 697px;
}

.tollevast {
    top: 302px;
    left: 362px;
}

.menuel {
    top: 328px;
    left: 367px;
}

.taute {
    top: 353px;
    left: 380px;
}

.tourbe {
    top: 377px;
    left: 487px;
}

.terrette {
    top: 391px;
    left: 441px;
}

.tilleul {
    top: 432px;
    left: 575px;
}

.mezerolles {
    top: 441px;
    left: 684px;
}

.yvelines_ouest {
    top: 482px;
    left: 696px;
}

.villejust {
    top: 487px;
    left: 723px;
}

.gatinais {
    top: 571px;
    left: 765px;
}

.dambron {
    top: 561px;
    left: 717px;
}

.tabarderie {
    top: 623px;
    left: 776px;
}

.oudon {
    top: 574px;
    left: 440px;
}

.launay {
    top: 473px;
    left: 387px;
}

.la_martyre {
    top: 499px;
    left: 107px;
}

.plaine_haute {
    top: 482px;
    left: 233px;
}

.domloup {
    top: 555px;
    left: 374px;
}

.calan {
    top: 617px;
    left: 224px;
}

.cordemais {
    top: 679px;
    left: 325px;
}

.louisfert {
    top: 640px;
    left: 378px;
}

.moliere {
    top: 601px;
    left: 491px;
}

.les_quintes {
    top: 595px;
    left: 549px;
}

.les_galoreaux {
    top: 703px;
    left: 381px;
}

.distre {
    top: 703px;
    left: 476px;
}

.chaingy {
    top: 587px;
    left: 678px;
}

.verger {
    top: 610px;
    left: 695px;
}

.picocherie {
    top: 633px;
    left: 615px;
}

.villerbon {
    top: 644px;
    left: 659px;
}

.chanceaux {
    top: 679px;
    left: 584px;
}

.avoine {
    top: 740px;
    left: 526px;
}

.larcay {
    top: 741px;
    left: 584px;
}

.jumeaux {
    top: 782px;
    left: 467px;
}

.granzay {
    top: 859px;
    left: 465px;
}

.rom {
    top: 846px;
    left: 501px;
}

.valdivienne {
    top: 850px;
    left: 543px;
}

.eguzon {
    top: 834px;
    left: 672px;
}

.perguillac {
    top: 936px;
    left: 480px;
}

.braud {
    top: 1005px;
    left: 451px;
}

.marmagne {
    top: 729px;
    left: 741px;
}

.gauglin {
    top: 646px;
    left: 849px;
}

.st_eloi {
    top: 750px;
    left: 842px;
}

.bayet {
    top: 846px;
    left: 844px;
}

.rulhat {
    top: 898px;
    left: 843px;
}

.grepilles {
    top: 903px;
    left: 900px;
}

.charpenay {
    top: 918px;
    left: 970px;
}

.echalas {
    top: 969px;
    left: 957px;
}

.pivoz_cordier {
    top: 1020px;
    left: 989px;
}

.coulange {
    top: 1088px;
    left: 981px;
}

.verbois {
    top: 800px;
    left: 1181px;
}

.chamoson {
    top: 802px;
    left: 1286px;
}

.cornier {
    top: 872px;
    left: 1212px;
}

.creys {
    top: 936px;
    left: 1084px;
}

.montagny {
    top: 925px;
    left: 1165px;
}

.alberville {
    top: 958px;
    left: 1206px;
}

.rondissone {
    top: 947px;
    left: 1347px;
}

.gde_ile {
    top: 982px;
    left: 1108px;
}

.chaffard {
    top: 990px;
    left: 1040px;
}

.champagnier {
    top: 1038px;
    left: 1078px;
}

.beaumont {
    top: 1064px;
    left: 1036px;
}

.vaujany {
    top: 1065px;
    left: 1098px;
}

.coche {
    top: 1007px;
    left: 1209px;
}

.la_praz {
    top: 1079px;
    left: 1210px;
}

.villarodin {
    top: 1079px;
    left: 1253px;
}

.venaus {
    top: 1111px;
    left: 1312px;
}

.tricastin {
    top: 1148px;
    left: 997px;
}

.tavel {
    top: 1202px;
    left: 999px;
}

.agasses {
    top: 1248px;
    left: 993px;
}

.jonquieres {
    top: 1273px;
    left: 964px;
}

.tore_supra {
    top: 1189px;
    left: 1053px;
}

.prionnet {
    top: 1217px;
    left: 1090px;
}

.boutre {
    top: 1212px;
    left: 1187px;
}

.realtor {
    top: 1311px;
    left: 1111px;
}

.neoules {
    top: 1318px;
    left: 1187px;
}

.trans {
    top: 1278px;
    left: 1222px;
}

.biancon {
    top: 1266px;
    left: 1254px;
}

.broc_carros {
    top: 1217px;
    left: 1305px;
}

.ponteau {
    top: 1269px;
    left: 1145px;
}

.feuillane {
    top: 1250px;
    left: 1190px;
}

.plaud {
    top: 924px;
    left: 594px;
}

.clearac {
    top: 983px;
    left: 540px;
}

.cubnezais {
    top: 1033px;
    left: 477px;
}

.marquis {
    top: 1048px;
    left: 442px;
}

.saucats {
    top: 1100px;
    left: 456px;
}

.cantegrit {
    top: 1204px;
    left: 416px;
}

.argia {
    top: 1304px;
    left: 371px;
}

.hernani {
    top: 1430px;
    left: 315px;
}

.breuil {
    top: 1022px;
    left: 739px;
}

.rueyeres {
    top: 1095px;
    left: 787px;
}

.donzac {
    top: 1215px;
    left: 610px;
}

.lesquive {
    top: 1251px;
    left: 633px;
}

.verfeil {
    top: 1274px;
    left: 668px;
}

.cazaril {
    top: 1333px;
    left: 565px;
}

.marsillon {
    top: 1301px;
    left: 444px;
}

.issel {
    top: 1329px;
    left: 697px;
}

.gaudiere {
    top: 1332px;
    left: 789px;
}

.tamareau {
    top: 1269px;
    left: 891px;
}

.baixas {
    top: 1399px;
    left: 818px;
}

.vich {
    top: 1512px;
    left: 751px;
}

.santa_llogia {
    top: 1550px;
    left: 819px;
}
