.select-zob {
	width: 400px;
	margin: 0 auto;
	display: none;
}

body, .map {
	margin: 0;
	padding: 0;
	border: 0;
}

.dot {
	position:absolute; 
	width:19px;
	height:19px;
	background:blue;
	cursor: pointer;
}

.warande {
    top: 61px;
    left: 744px;
}

.weppes {
    top: 71px;
    left: 816px;
}

.avelgem {
	top: 50px;
    left: 923px;
}

.avelin {
    top: 110px;
    left: 848px;
}

.attaques {
    top: 83px;
    left: 708px;
}

.mandarins {
    top: 91px;
    left: 660px;
}

.fruges {
    top: 141px;
    left: 671px;
}

.gavrelle {
    top: 165px;
    left: 820px;
}

.mastaing {
    top: 161px;
    left: 881px;
}

.achene {
    top: 145px;
    left: 996px;
}

.chevalet {
    top: 189px;
    left: 770px;
}

.argoeuves {
    top: 215px;
    left: 715px;
}

.capelle {
    top: 221px;
    left: 936px;
}

.mazures {
    top: 214px;
    left: 1011px;
}

.lonny {
    top: 246px;
    left: 976px;
}

.latena {
	top: 277px;
    left: 803px;
}

.seuil {
	top: 321px;
    left: 965px;
}

.vesle {
    top: 376px;
    left: 959px;
}
