.select-zob {
    width: 400px;
    margin: 0 auto;
    display: none;
}

body, .map {
    margin: 0;
    padding: 0;
    border: 0;
}

.questions {
    position: fixed;
    display: none;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(111, 111, 111, 0.6);
    width: 100%;
    height: 100%;
}

.inside {
    width: 600px;
    height: 250px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
}

.inside .win {
    margin: 20px auto;
    width: 200px;
    text-align: center;
}

.inside ul {
    width: 450px;
    margin: 50px auto;
}

.inside ul li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: cadetblue;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
    margin-bottom: 20px;
    cursor: pointer;
}

.inside ul li:hover {
    background-color: yellowgreen;
}

.inside ul li:nth-child(even) {
    float: right;
}

.dot {
    position:absolute; 
    width:19px;
    height:19px;
    background:blue;
    cursor: pointer;
}