.select-zob {
    width: 400px;
    position: absolute;
    left: 50px;
    top: 50px;
    /*display: none;*/
}

body, .map {
    margin: 0;
    padding: 0;
    border: 0;
}

.questions {
    position: fixed;
    display: none;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(111, 111, 111, 0.6);
    width: 100%;
    height: 100%;
}

.inside {
    width: 600px;
    height: 250px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
}

.inside .win {
    margin: 20px auto;
    width: 200px;
    text-align: center;
}

.inside ul {
    width: 450px;
    margin: 50px auto;
}

.inside ul li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: cadetblue;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
    margin-bottom: 20px;
    cursor: pointer;
}

.inside ul li:hover {
    background-color: yellowgreen;
}

.inside ul li:nth-child(even) {
    float: right;
}

.dot {
    position:absolute; 
    width:19px;
    height:19px;
    background:blue;
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}